project:
  type: website
  output-dir: docs

website:
  title: "Programação-Python"
  description: "A blog built with Quarto"
  site-url: https://larissafoschi.github.io/trabalhos-python/
  navbar:
    right:
      - text: "About"
        href: about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    includes:
      in-header: _includes/navbar.html
